<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    {{ block "main" . }}{{ end }}
    <div id="fastSearch">
        <input id="searchInput" tabindex="0">
        <ul id="searchResults">
        </ul>
      </div>
      <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
      <script src="/js/fastsearch.js"></script>
    {{ partial "footer.html" . }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>


